<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="16x16" th:href="@{/images/BTV.ico}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="stylesheet" href="styles.css" />

    <title>Manual CG</title>
</head>

<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center pt-8 pb-8">
        <div id="utama" class="max-w-sm w-full p-6 bg-white rounded-lg shadow-lg mr-5">
            <div class="flex justify-center mb-8">
            </div>
            <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Manual CG</h1>
            <form id="tempatlagi">
                <div class="mb-4">
                    <label class="block mb-2 text-sm text-gray-600">Chanel</label>
                    <select id="chan"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                        <option class="dark:text-white" value="" disabled selected>--Select--</option>
                        <option value="btv">BTV (Buletin)</option>
                        <option value="btvn">BTV (News mag)</option>
                        <option value="idtv">IDTV</option>
                    </select>
                </div>
                <div id='bstv' style="display: none;">
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">Program</label>
                        <select id="prog_btv" onchange="pilihprog(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option>Beritasatu Pagi</option>
                            <option>Beritasatu Siang</option>
                            <option>Beritasatu Sore</option>
                            <option>Beritasatu Malam</option>
                            <option>Beritasatu Utama</option>
                            <option>Beritasatu Terkini</option>
                            <option>Beritasatu Special</option>
                            <option>Bersatu Kawal Pemilu</option>
                            <option>Beritasatu Breaking News</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">CG</label>
                        <select id="opsicg_btv" onchange="pilihcg(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option value="101001101">BTV_REG_CG_TITLE</option>
                            <option value="101001102">BTV_REG_CG_BERITA</option>
                            <option value="101001103">BTV_REG_CG_2_LINE</option>
                            <option value="101001104">BTV_REG_CG_3_LINE</option>
                            <option value="101001105">BTV_REG_CG_SELANJUTNYA</option>
                            <option value="101001106">BTV_REG_CG_HIGHLIGHTS</option>
                            <option value="101001107">BTV_REG_CG_TERKINI</option>
                            <option value="101001108">BTV_REG_CG_TITLE_ATRIBUSI</option>
                            <option value="101001301">BTV_SPLIT_2</option>
                            <option value="101001302">BTV_SPLIT_3</option>
                            <option value="101001303">BTV_SPLIT_4</option>
                            <option value="101001304">BTV_SPLIT_3_INSERT</option>
                            <option value="101001305">BTV_SPLIT_4_INSERT</option>
                        </select>
                    </div>
                </div>

                <div id='bstvn' style="display: none;">
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">Program</label>
                        <select id="prog_btvn" onchange="pilihprog(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option>Obrolan Pagi</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">CG</label>
                        <select id="opsicg_btvn" onchange="pilihcg(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option value="11004101">BTV_OPA_CG_TITLE</option>
                            <option value="11004102">BTV_OPA_CG_BERITA</option>
                            <option value="11004103">BTV_OPA_CG_2_LINE</option>
                            <option value="11004104">BTV_OPA_CG_TITLE_ATRIBUSI</option>
                            <option value="11004105">BTV_OPA_CG_SUMMARY</option>
                            <option value="11004107">BTV_OPA_CG_TRENDING</option>
                            <option value="11004108">BTV_OPA_CG_3_LINE</option>
                            <option value="11004109">BTV_OPA_CG_SELANJUTNYA</option>
                            <option value="11004701">BTV_OPA_WEATHER</option>
                        </select>
                    </div>
                </div>

                <div id='indtv' style="display: none;">
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">Program</label>
                        <select id="prog_idtv" onchange="pilihprog(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option>Investor Marketing Opening</option>
                            <option>Investor Marketing Closing</option>
                            <option>Investor Marketing Today</option>
                            <option>Investor Daily Talk</option>
                            <option>Investor Daily Special</option>
                            <option>Investor Breaking News</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm text-gray-600">CG</label>
                        <!-- <input type="text" id="apellido" name="apellido" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required> -->
                        <select id="opsicg_idtv" onchange="pilihcg(this.id)"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            <option class="dark:text-white" value="" disabled selected>--Select--</option>
                            <option value="2101101">IDTV_REG_CG_TITLE</option>
                            <option value="2101102">IDTV_REG_CG_ATRIBUSI</option>
                            <option value="2101103">IDTV_REG_CG_3_BRS_SUMMARY</option>
                            <option value="2101104">IDTV_REG_CG_POPUP_ATRIBUSI</option>
                            <option value="2101105">IDTV_REG_CG_BERITA</option>
                            <option value="2101106">IDTV_REG_CG_UP_NEXT</option>
                            <option value="2102301">IDTV_SPLIT_2</option>
                            <option value="2102302">IDTV_SPLIT_3</option>
                            <option value="2102304">IDTV_SPLIT_4</option>
                            <option value="2102303">IDTV_SPLIT_3_INSERT</option>
                            <option value="2102306">IDTV_SPLIT_4_INSERT</option>
                            <option value="2102305">IDTV_SPLIT_4_BOX</option>
                            <option value="2102308">IDTV_SPLIT_INSERT_KIRI</option>
                            <option value="2102309">IDTV_SPLIT_INSERT_KANAN</option>
                        </select>
                    </div>
                </div>

            </form>
            <button type="button" id="addbtn"
                class="py-2 px-4 mt-2 bg-green-500 text-white rounded hover:bg-green-700 mr-2"><i class="fas"></i>
                Add</button>
            <div class="text-center">
            </div>
            <p class="text-xs text-gray-600 text-center mt-8">&copy; 2023 IT Apps</p>
        </div>

        <div id="kedua" class="max-w-xl w-full p-6 bg-white rounded-lg shadow-lg">
            <h1 id="title" class="text-xl font-bold"></h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="tabledata" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Info</th>
                            <th>CG</th>
                        </tr>
                    </thead>

                    <!-- <tbody th:each="dat:${dataMap}">
                    <td th:text="${popr.PO}"></td>
                    <td th:text="${popr.PR}"></td>
                    <td th:text="${popr.Item_Name}"></td>
                  </tbody> -->
                </table>
            </div>
            <button type="button" id="export"
                class="py-2 px-4 mt-2 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2">
                Export to XML</button>
            <button type="button" id="reset"
                class="py-2 px-4 mt-2 bg-red-500 text-white rounded hover:bg-red-700 mr-2">
                Reset</button>
        </div>
    </div>
</body>
<!-- <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- <script src="/js/login.js"></script> -->

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

    })
    var b = document.getElementById('kedua')
    var c = document.getElementById('utama')
    b.style.minHeight = (c.clientHeight + 'px')
    // console.log($("#utama").height())

    $("#chan").change(function () {
        var chan = $(this).val();
        if (chan == 'btv') {
            document.getElementById('bstv').style.display = 'block'
            document.getElementById('bstvn').style.display = 'none'
            document.getElementById('indtv').style.display = 'none'
        } else if (chan == 'btvn') {
            document.getElementById('bstv').style.display = 'none'
            document.getElementById('bstvn').style.display = 'block'
            document.getElementById('indtv').style.display = 'none'
        } else {
            document.getElementById('bstv').style.display = 'none'
            document.getElementById('bstvn').style.display = 'none'
            document.getElementById('indtv').style.display = 'block'
        }
    })

    var untukcg, untukprog;

    function pilihprog(id) {
        untukprog = id;
        console.log(untukprog)
    }

    function pilihcg(id) {
        var opval = $('#' + id).val();
        console.log(opval)
        untukcg = id;
        console.log(untukcg)
        switch (opval) {
            case '101001101':
            case '2101101':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_TITLE
                console.log('Selected: BTV_REG_CG_TITLE or IDTV_REG_CG_TITLE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="46" required aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 46 character</small>
                </div>`)
                break;
            case '101001102':
            case '2101105':
                $("#tmpt").remove()

                // Action for BTV_REG_CG_BERITA
                console.log('Selected: BTV_REG_CG_BERITA or IDTV_REG_CG_BERITA');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Location</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="65" aria-placeholder="Max 65 character">
                        <small class='text-gray-300'>Max 65 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="41" aria-placeholder="Max 41 character">
                        <small class='text-gray-300'>Max 41 character</small>

                </div>`)
                break;
            case '101001103':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_2_LINE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Upperline</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="46" aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 46 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lowerline</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="70" aria-placeholder="Max 70 character">
                        <small class='text-gray-300'>Max 70 character</small>

                </div>`)
                break;
            case '101001104':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_3_LINE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Location</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="60" aria-placeholder="Max 60 character">
                        <small class='text-gray-300'>Max 60 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Upperline</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="46" aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 46 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lowerline</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="70" aria-placeholder="Max 70 character">
                        <small class='text-gray-300'>Max 70 character</small>

                </div>`)
                break;
            case '101001105':
            case '2101106':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_SELANJUTNYA or IDTV_REG_CG_UP_NEXT');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Selanjutnya</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="46" value='' aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 46 character</small>

                </div>`)
                break;
            case '101001106':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_HIGHLIGHTS');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title Highligth</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="65" aria-placeholder="Max 65 character">
                        <small class='text-gray-300'>Max 65 character</small>

                </div>`)
                break;
            case '101001107':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_TERKINI');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title Terkini</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="65" aria-placeholder="Max 65 character">
                        <small class='text-gray-300'>Max 65 character</small>

                </div>`)
                break;
            case '101001108':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_TITLE_ATRIBUSI');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="46" aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 46 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">nama</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="37" aria-placeholder="Max 37 character">
                        <small class='text-gray-300'>Max 37 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Jabatan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="47" aria-placeholder="Max 47 character">
                        <small class='text-gray-300'>Max 47 character</small>
                </div>`)
                break;
            case '101001301':
            case '2102301':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_SPLIT_2 or IDTV_SPLIT_2');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Kiri</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>


                        <label class="block mb-2 mt-2 text-sm text-gray-600">Kanan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                </div>`)
                break;
            case '101001302':
            case '2102302':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_SPLIT_3 or IDTV_SPLIT_3');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Kiri</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Tengah</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Kanan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                </div>`)
                break;
            case '101001303':
            case '2102304':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_SPLIT_4 or IDTV_SPLIT_4');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi 01</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 02</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 03</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 04</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                </div>`)
                break;
            case '101001304':
            case '2102303':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_SPLIT_3_INSERT or IDTV_SPLIT_3_INSERT');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Insert</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi Atas</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi Bawah</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                </div>`)
                break;
            case '101001305':
            case '2102306':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_SPLIT_4_INSERT or IDTV_SPLIT_4_INSERT');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Insert</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="64" aria-placeholder="Max 64 character">
                        <small class='text-gray-300'>Max 64 character</small>

                        <label class="block mb-2 text-sm mt-2 text-gray-600">Lokasi Atas</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="24" aria-placeholder="Max 24 character">
                        <small class='text-gray-300'>Max 24 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi Tengah</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="24" aria-placeholder="Max 24 character">
                        <small class='text-gray-300'>Max 24 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi Bawah</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="24" aria-placeholder="Max 24 character">
                        <small class='text-gray-300'>Max 24 character</small>

                </div>`)
                break;
            case '11004102':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_BERITA');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="55" aria-placeholder="Max 55 character">
                        <small class='text-gray-300'>Max 55 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Berita</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="65" aria-placeholder="Max 65 character">
                        <small class='text-gray-300'>Max 65 character</small>
                </div>`)
                break;
            case '11004103':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_2_LINE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Nama</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Jabatan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>
                </div>`)
                break;
            case '11004104':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_TITLE_ATRIBUSI');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="40" aria-placeholder="Max 40 character">
                        <small class='text-gray-300'>Max 40 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Nama</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="30" aria-placeholder="Max 30 character">
                        <small class='text-gray-300'>Max 30 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Jabatan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="40" aria-placeholder="Max 40 character">
                        <small class='text-gray-300'>Max 40 character</small>
                </div>`)
                break;
            case '11004105':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_SUMMARY');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="42" aria-placeholder="Max 42 character">
                        <small class='text-gray-300'>Max 42 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Sumary</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="60" aria-placeholder="Max 60 character">
                        <small class='text-gray-300'>Max 60 character</small>
                </div>`)
                break;
            case '11004107':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_TRENDING');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Pilih Sosmed</label>
                    <select name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                        <option class="dark:text-white" value="" disabled selected>--Select--</option>
                        <option value="1">Twitter</option>
                        <option value="2">YouTube</option>
                        <option value="3">Instagram</option>
                        <option value="4">Facebook</option>
                        <option value="5">TikTok</option>
                    </select>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Trending 1</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Trending 2</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Trending 3</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="25" aria-placeholder="Max 25 character">
                        <small class='text-gray-300'>Max 25 character</small>
                </div>`)
                break;
            case '11004108':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_3_LINE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="55" aria-placeholder="Max 55 character">
                        <small class='text-gray-300'>Max 55 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Berita</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>
                </div>`)
                break;
            case '11004109':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_CG_SELANJUTNYA');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="18" aria-placeholder="Max 18 character">
                        <small class='text-gray-300'>Max 18 character</small>
                </div>`)
                break;
            case '11004701':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_OPA_WEATHER');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Kota</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Suhu</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Cuaca</label>
                        <select name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500">
                        <option class="dark:text-white" value="" disabled selected>--Select--</option>
                        <option value="1">Cerah</option>
                        <option value="2">Cerah Berawan</option>
                        <option value="3">Berawan</option>
                        <option value="4">Hujan Ringan</option>
                        <option value="5">Hujan Sedang</option>
                        <option value="6">Hujan Lebat</option>
                        <option value="7">Hujan Petir</option>
                        <option value="8">Berkabut</option>
                    </select>
                    
                </div>`)
                break;
            case '11004101':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_TITLE
                console.log('Selected: BTV_OPA_CG_TITLE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Title</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="42" required aria-placeholder="Max 42 character">
                        <small class='text-gray-300'>Max 42 character</small>
                </div>`)
                break;
            case '2101102':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: BTV_REG_CG_2_LINE');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Nama</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="46" aria-placeholder="Max 46 character">
                        <small class='text-gray-300'>Max 41 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Atribusi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="70" aria-placeholder="Max 77 character">
                        <small class='text-gray-300'>Max 70 character</small>

                </div>`)
                break;
            case '2101103':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_TITLE
                console.log('Selected: IDTV_REG_CG_3_BRS_SUMMARY');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="68" required aria-placeholder="Max 68 character">
                        <small class='text-gray-300'>Max 68 character</small>

                        <label class="block mb-2 text-sm text-gray-600">Isi Berita</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="41" required aria-placeholder="Max 41 character">
                        <small class='text-gray-300'>Max 41 character</small>

                        <label class="block mb-2 text-sm text-gray-600">Summary</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="68" required aria-placeholder="Max 68 character">
                        <small class='text-gray-300'>Max 68 character</small>
                </div>`)
                break;
            case '2101104':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_TITLE
                console.log('Selected: IDTV_REG_CG_POPUP_ATRIBUSI');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Nama Depan</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="15" required aria-placeholder="Max 15 character">
                        <small class='text-gray-300'>Max 15 character</small>

                        <label class="block mb-2 text-sm text-gray-600">Nama Belakang</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="15" required aria-placeholder="Max 15 character">
                        <small class='text-gray-300'>Max 15 character</small>

                        <label class="block mb-2 text-sm text-gray-600">Atribusi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        maxlength="62" required aria-placeholder="Max 62 character">
                        <small class='text-gray-300'>Max 62 character</small>
                </div>`)
                break;
            case '2102305':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: IDTV_SPLIT_4_BOX');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi 01</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="36" aria-placeholder="Max 36 character">
                        <small class='text-gray-300'>Max 36 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 02</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="36" aria-placeholder="Max 36 character">
                        <small class='text-gray-300'>Max 36 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 03</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="36" aria-placeholder="Max 36 character">
                        <small class='text-gray-300'>Max 36 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Lokasi 04</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="36" aria-placeholder="Max 36 character">
                        <small class='text-gray-300'>Max 36 character</small>

                </div>`)
                break;
            case '2102308':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: IDTV_SPLIT_INSERT_KIRI');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Insert</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>
                </div>`)
                break;
            case '2102309':
                $("#tmpt").remove()
                // Action for BTV_REG_CG_2_LINE
                console.log('Selected: IDTV_SPLIT_INSERT_KANAN');
                $("#tempatlagi").append(`<div id="tmpt" class="mb-4 mt-3">
                    <label class="block mb-2 text-sm text-gray-600">Lokasi</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="32" aria-placeholder="Max 32 character">
                        <small class='text-gray-300'>Max 32 character</small>

                        <label class="block mb-2 mt-2 text-sm text-gray-600">Insert</label>
                    <input type="text" name="isi[]"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required maxlength="50" aria-placeholder="Max 50 character">
                        <small class='text-gray-300'>Max 50 character</small>
                </div>`)
                break;
            // Add more cases as needed
            default:
                // Default action if the selected value doesn't match any case
                console.log('Selected: Default Action');
        }
    }


    // paket = []

    $("#addbtn").on("click", function () {
        data = [];

        var kode = $("#" + untukcg + " option:selected")
        var program = $("#" + untukprog + " option:selected")
        var Chanel = $("#chan option:selected")
        console.log(Chanel)
        console.log(kode)
        console.log(program)

        var datanya = document.getElementsByName("isi[]");
        // console.log(datanya.length)
        for (var i = 0; i < datanya.length; i++) {
            var a = datanya[i].value;
            data.push(a);
        }
        // console.log(kode.text())
        // $("#kedua").append(`<h3>${program.text()}</h3>`)
        document.getElementById('title').innerText = program.text()
        var tableBody = document.getElementById("tabledata");
        // console.log(data.length)
        var row = document.createElement("tr");
        var nameCell = document.createElement("td");
        nameCell.className = 'border'
        nameCell.textContent = kode.text();
        row.appendChild(nameCell);

        var ageCell = document.createElement("td");
        ageCell.textContent = data;
        row.appendChild(ageCell);

        tableBody.appendChild(row);

        console.log(data)



        $.ajax({
            url: `/saveData?nama=${program.val()}&key=${kode.val()}&data=${data}&channel=${Chanel.val()}`,
            method: 'POST',
            success: function () {
                // document.getElementById('prog').setAttribute('disabled', '')z
                fetch(`/getData`)
                    .then(response => response.json()) // Assuming your API returns the days left as JSON
                    .then(data => {
                        console.log(data)
                        // var tableBody = document.getElementById("tabledata");
                        // for(var i =0; i <data.length; )
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        })

    })

    $("#export").on('click', function () {
        window.location.href = '/saveXml';
        setTimeout(function () {
            // location.reload();
        }, 1000);
    });

    $("#reset").on('click', function(){
        location.reload();
    })





    /*]]>*/
</script>




</html>